html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

section {
  min-height: 100vh;
  padding: 10vh 0;
}

section#landing {
  padding: auto 0;
}
