html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

section {
  min-height: 100vh;
  padding-top: 8rem;
}

section#landing {
  padding-top: 0;
}

section#contact {
  padding-bottom: 5rem;
}
