html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

section {
  min-height: 100vh;
  margin: 7rem 0;
}

section#landing {
  margin-top: 0;
}
